{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<h1 class="container text-center mt-5">Modifier mon mot de passe<br/>
		<a href="{{ path('account') }}" class="btn btn-info mt-3">Retourner à mon compte</a>
	</h1>
	<div class="container mt-3">
		{% if notification %}
			<div class="alert alert-info">{{ notification }}</div>
		{% endif %}
		{{ form(form) }}
		</div>
	</div>

{% endblock %}
