{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<h1 class="container text-center mt-5">Mon compte</h1>
	<p class="text-center">Bienvenue
		{{ app.user.lastname }}
		dans votre compte. C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.<br/>
		<a href="{{ path('account_password') }}" class="btn btn-info mt-3">Modifier mon mot de passe</a>
	</p>
</div>{% endblock %}
